/* header */

.display_contents {
    display: contents;
}

/* main */

/* .main_container {
    height: 600px;
} */

/* side bar */

.side_bar {
    background-color: red;
}

.bottoni_boolean button {
    margin-left: 0.5rem;
}



/* principal container */



/* statistic section */


/* left main section */

/* prossime classi */


/* faq */

/* right main section */

/* todo */

/* graphics */