/* header */

.display_contents {
    display: contents;
}

/* main */

/* .main_container {
    height: 600px;
} */

/* side bar */

.side_bar {
    background-color: red;
}




/* principal container */

.principal_container {
    height: 100%;
    background-color: green;
}

.principal_container .col-sm-12 {
    border: 1px solid white;
    height: 300px;
}

/* statistic section */

/* left main section */

/* prossime classi */

.prossime_classi {
    background-color: yellow;
    height: 100px;
}
/* faq */

/* right main section */

/* todo */

/* graphics */

