/* header */

.display_contents {
    display: contents;
}

/* main */

.main_container {
    height: 600px;
    background-color: blue;
}

/* side bar */

.side_bar {
    height: 100%;
    background-color: red;
}




/* principal container */

.principal_container {
    height: 100%;
    background-color: green;
}